# Covers JetBrains IDEs
.idea/
# Project
node_modules
dist
coverage
.env
.cache
.DS_Store
*.tgz
*.log
.turbo
modules/client/examples/**/*.md
docs/01-examples/*
docs/02-reference-guide/*
!docs/02-reference-guide/index.md
